<% include ../partials/header %>
<div id="run-process">
    <div style="margin-top: 10px; margin-left: 10px">
        <div style="width: 364px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">设备屏幕 360 x 640 </h3>
                </div>
                <div class="panel-body" id="container">
                    <canvas id="canvas-device" width="360" height="640"></canvas>
                </div>
            </div>
        </div>
        <div style=" margin-left: 10px;">
            <div class="row">
                <!--<div class="col-lg-4">-->
                    <!--<div class="panel panel-info">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">执行动作</h3>-->
                        <!--</div>-->
                        <!--<div class="table-wrapper" id="action-table-wrapper">-->
                            <!--<table class="table table-striped" id="action-table">-->
                                <!--<tbody id="actions">-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Activity变迁</h3>
                        </div>
                        <div id="activity-chart">
                            <div id="echarts-activity" style="width: 100%; height:300px;"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Widget变迁</h3>
                        </div>
                        <div id="widget-chart">
                            <div id="echarts-widget" style="width: 100%; height:300px;"></div>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
</div>
<!-- // <script src="/socket.io/socket.io.js"></script> -->
<script src="/vender/echarts.min.js"></script>
<script>
    var record = <%- JSON.stringify(record) %>;
</script>
<script src="/javascripts/run.js"></script>

<script>
    /*jshint browser:true*/

    var BLANK_IMG =
            'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

    var canvas = document.getElementById('canvas-device')
            , g = canvas.getContext('2d')

    var ws = new WebSocket('ws://localhost:3000', 'minicap')
    ws.binaryType = 'blob'

    ws.onclose = function () {
        console.log('onclose', arguments)
    }

    ws.onerror = function () {
        console.log('onerror', arguments)
    }

    ws.onmessage = function (message) {
        var blob = new Blob([message.data], {type: 'image/jpeg'})
        var URL = window.URL || window.webkitURL
        var img = new Image()
        img.onload = function () {
            console.log(img.width, img.height)
            canvas.width = img.width
            canvas.height = img.height
            g.drawImage(img, 0, 0)
            img.onload = null
            img.src = BLANK_IMG
            img = null
            u = null
            blob = null
        }
        var u = URL.createObjectURL(blob)
        img.src = u
    }

    ws.onopen = function () {
        // console.log('onopen', arguments)
        ws.send('480x270/0')
    }

</script>
<% include ../partials/footer.ejs %>
