<div id="modal_about" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关于本站</h4>
            </div>
            <div class="modal-body">
                <p>
                    本站为NATA-AM的实验后台.有任何问题请联系本站管理员<a href="mailto:rdmclin2@163.com?subject=NataAM">@CalvinMeng</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>