/*body {*/
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
    /*color: #00B7FF;*/
/*}*/


.table-wrapper {
    height: 300px;
    overflow: auto;
}



body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #44ba92;
    padding-top: 60px;
}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;

}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white
}

/* intro Wrap */

#intro {
    padding-top: 50px;
    border-top: #bdc3c7 solid 5px;
}

/* Showcase Wrap */

#showcase {
    display: block;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#showcase h1 {
    color: white;
}



#footerwrap {
    background-color: #2f2f2f;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */

#c {
    background: #222222;
    padding-top: 15px;
    text-align: center;
    clear:both;
}

#c p {
    color: white
}


#run, #records, #devices, #apks, #testcases ,#testcase-edit{
    display: block;
    background-color: #44ba92;
    padding-top: 10px;
    padding-bottom: 10px;
}

#devices, #records,#apks, #testcases, #testcase-edit {
    background-color: white;
}

#run {
    color: white;
}



#device h1, #run h1{
    color: white;
}

/* Widget chart Wrap */

/*#widget-chart{*/
    /*display: block;*/
    /*background-color: #34495e;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
/*}*/

/*#widget-chart h1 {*/
    /*color: white;*/
/*}*/

#activity-chart, #widget-chart{
    display: block;
    background-color: white;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
}

#canvas-device {
    border: thin solid black;
}

#container {
    position: relative;
    height:640px;
    width: 480px;
}

#canvas-device {
    position: absolute;
    left: 0px;
    top: 0px;

}

#canvas-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
}
