</main>

<footer>
    <p class="text-center text-muted">
        © 版权所有 NATA
    </p>
</footer>


<!--<script src="/javascripts/jquery.js"></script>-->
<script src="/javascripts/bootstrap.js"></script>

</body>

</html>