<div id="c">
    <div class="container">
        <p>© 版权所有<a href="http://www.mclspace.com" target="_blank">NATA</a></p>

    </div>
</div>

<!--<script src="/javascripts/jquery.js"></script>-->
<script src="/vender/bootstrap.js"></script>
<script>
    $('.carousel').carousel({
        interval: 3500
    });
</script>

</body>

</html>