<!-- views/partials/head.ejs -->

<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="NATA-AM 实验平台">
<meta name="author" content="Calvin Meng">
<link rel="shortcut icon" href="/images/logo.png">

<!-- Bootstrap core CSS -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/ionicons.min.css">

<!-- Custom styles for this template -->
<link href="/stylesheets/style.css" rel="stylesheet">

<!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>-->

<script src="/vender/jquery.js"></script>
<script src="/vender/smoothscroll.js"></script>

