<!-- views/partials/nav.ejs -->
<% include ../modals/modal_about.ejs%>

<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand " href="/" >
                <span style="color:black">NATA-AM</span>
                <img src="/images/logo.png" class="pull-left" alt="logo" width="45" height="45" style="margin-top: -12px;">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/" class="smothscroll">首页</a></li>
                <!--<li><a href="/create" class="smothscroll">创建任务</a></li>-->
                <li><a href="/records" class="smothScroll">自动遍历任务</a></li>
                <li><a href="/testcases" class="smothScroll">录制用例任务</a></li>
                <li><a href="/devices" class="smothScroll">设备管理</a></li>
                <li><a href="/apks" class="smothScroll">应用管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#modal_about" data-toggle="modal">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

