<!-- views/partials/nav.ejs -->
<% include ../modals/modal_about.ejs%>

<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand " href="#" >
                <span style="color:black">NATA-AM</span>
                <img src="/images/logo.png" class="pull-left" alt="logo" width="45" height="45" style="margin-top: -12px;">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>-->
                <li><a href="/#">实验记录</a></li>
                <!--<li><a href="/posts">情报管理</a></li>-->
                <!--<li><a href="/contents">文档管理</a></li>-->
                <!--<li><a href="/districts">区域管理</a></li>-->
                <!--<li><a href="/apk">应用更新</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#modal_about" data-toggle="modal">关于</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/chpwd">修改密码</a></li>-->
                        <!--<li><a href="/logout">登出</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
