<% include partials/header %>

<div id="device">
    <div class="container">
        <h1 class="centered">设备信息</h1>
        <br>

        <div class="row">
            <dl class="dl-horizontal">
                <dt>状态：</dt>
                <dd><span class="label label-primary" id="status">未获取</span>
                </dd>
            </dl>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>设备名称：</dt>
                    <dd id="device-name"></dd>
                    <dt>设备ID：</dt>
                    <dd id="device-id"></dd>
                    <dt>安卓版本：</dt>
                    <dd id="android-version"></dd>
                    <dt>SDK版本：</dt>
                    <dd id="sdk-version"></dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>分辨率：</dt>
                    <dd id="resolution"></dd>
                    <dt>CPU制式：</dt>
                    <dd id="cpu-abi"></dd>
                    <dt>厂家：</dt>
                    <dd id="manufacturer"></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="center-block" style="max-width: 600px;">
                <button type="button" class="btn btn-info btn-lg btn-block" id="btn-device">获取设备信息</button>
            </div>
        </div>
    </div>
</div>


<div id="run">
    <div class="container">
        <h1 class="centered"> 实验配置</h1>
        <br>
        <div class="row">
            <form method="post" class="form-horizontal" id = "config">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="app_name">待测应用名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="app_name" id="app_name" value="凤城卫士">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="package_name">Package Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="com.cvicse.zhnt" name="package_name" id="package_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="activity_name">Activity Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="activity_name" id="activity_name" value=".LoadingActivity">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="action_count">Action数量上限</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="action_count"  id="action_count" value="1000">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="algorithm">测试算法</label>

                    <div class="col-sm-10">
                        <select class="form-control m-b" name="algorithm" id="algorithm">
                            <option value="dfs">DFS(Depth First)</option>
                            <option value="prm">PRM(Pure Random Monkey)</option>
                            <option value="rm">RM(Random Monkey)</option>
                            <option value="qlm">QLM(QLearning Monkey)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="center-block" style="max-width: 600px;">
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-create">开始测试</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/create.js"></script>

<% include partials/footer.ejs %>