<% include partials/header %>

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>欢迎使用 <b>NATA</b></h1>

                <h3>智能测试平台</h3>
                <br>
            </div>

            <div class="col-lg-2">
                <h5>多种测试方法</h5>

                <p>NATA-AM支持包括DFS搜索测试,随机测试,增强学习测试等多种测试方法</p>
                <img class="hidden-xs hidden-sm hidden-md" src="images/arrow1.png">
            </div>
            <div class="col-lg-8">
                <img class="img-responsive" src="images/app-bg.png" alt="">
                <br>
                <a  href="/create" type="button" id="btn-ready" class="btn btn-success btn-lg btn-block">立即使用</a>
                <br>
            </div>
            <div class="col-lg-2">
                <br>
                <img class="hidden-xs hidden-sm hidden-md" src="images/arrow2.png">
                <h5>实时记录数据</h5>

                <p>NATA-AM支持实时获取数据,并以可视化的形式呈现</p>
            </div>
        </div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->


<div id="showcase">
    <div class="container">
        <div class="row">
            <h1 class="centered">实时数据记录</h1>
            <br>

            <div class="col-lg-8 col-lg-offset-2">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/item-01.png" alt="">
                        </div>
                        <div class="item">
                            <img src="images/item-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div><!-- /container -->
</div>


<!-- INTRO WRAP -->
<div id="intro">
    <div class="container">
        <div class="row centered">
            <h1>多种测试方法</h1>
            <br>
            <br>

            <div class="col-lg-4">
                <img src="images/intro01.png" alt="">

                <h3>有序测试</h3>

                <p>使用DFS等有序测试方法进行自动测试</p>
            </div>
            <div class="col-lg-4">
                <img src="images/intro02.png" alt="">

                <h3>Monkey随机测试</h3>

                <p>使用Monkey等随机测试方法进行自动测试</p>
            </div>
            <div class="col-lg-4">
                <img src="images/intro03.png" alt="">

                <h3>启发式测试</h3>

                <p>使用增强学习等启发式测试方法进行自动测试</p>
            </div>
        </div>
        <br>
        <hr>
    </div> <!--/ .container -->
</div><!--/ #introwrap -->


<% include partials/footer.ejs %>
