<% include partials/header %>

<div id="records">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="centered">实验记录</h1>
                <br>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            内容
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            创建时间
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>