<% include partials/header %>
<div id="run-process">
    <div style="margin-top: 10px; margin-left: 10px">
        <div style="width: 364px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">设备屏幕 360 x 640 </h3>
                </div>
                <div class="panel-body" id="container">
                    <canvas id="canvas-device" width="360" height="640"></canvas>
                </div>
            </div>
        </div>
        <div style="width: 800px; margin-left: 10px; float: left;">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">控制台</h3>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group " role="group">
                        <button type="button" class="btn btn-primary " id="btn-replay" style="border-radius : 0">单步执行</button>
                    </div>
                    <div class="btn-group " role="group">
                        <button type="button" class="btn btn-primary " id="btn-replay-all" style="border-radius : 0">全部执行</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">动作</h3>
                </div>
                <div class="table-wrapper" id="action-table-wrapper">
                    <table class="table table-striped" id="action-table">
                        <tbody id="actions">
                        <% actions.forEach(function(action, index){ %>
                        <tr>
                            <td>
                                <%= action %>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var actions = <%- JSON.stringify(actions.join("\n")) %>;
</script>
<script src="/javascripts/replay.js"></script>
<script>
    /*jshint browser:true*/

    var BLANK_IMG =
            'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

    var canvas = document.getElementById('canvas-device'),
            g = canvas.getContext('2d')

    var ws = new WebSocket('ws://localhost:3000', 'minicap')
    ws.binaryType = 'blob'

    ws.onclose = function () {
        console.log('onclose', arguments)
    }

    ws.onerror = function () {
        console.log('onerror', arguments)
    }

    ws.onmessage = function (message) {
        var blob = new Blob([message.data], {
            type: 'image/jpeg'
        })
        var URL = window.URL || window.webkitURL
        var img = new Image()
        img.onload = function () {
            console.log(img.width, img.height)
            canvas.width = img.width
            canvas.height = img.height
//            g.scale(0.3,0.3);
            g.drawImage(img, 0, 0)
            img.onload = null
            img.src = BLANK_IMG
            img = null
            u = null
            blob = null
        }
        var u = URL.createObjectURL(blob)
        img.src = u
    }

    ws.onopen = function () {
        // console.log('onopen', arguments)
        ws.send('480x270/0')
    }
</script>
<% include partials/footer.ejs %>
